openapi: 3.0.0
info:
  title: APIs Arquivo-Nfe - Documentação de integração - Teste ao vivo
  version: 1.0.0
  description: |
    API para consulta e validação de dados cadastrais de empresas no Brasil.
    
    Teste a API gratuitamente

    1. Crie sua conta grátis no site
    2. Copie seu token de acesso no meu lateral "Meu Token"
    3. Clique em "Authorize" e informe:
  
       Bearer SEU_TOKEN
  
    [Criar conta](https://portal.arquivo-nfe.com)
servers:
  - url: https://api.arquivo-nfe.com/prod
tags:
  - name: CNPJ
paths:
  /cnpj_receita:
    post:
      tags:
        - CNPJ
      summary: Consulta CNPJ na Receita Federal
      description: |
         Obtenha dados completos de empresas em segundos.
        
         Fluxo:
            - Sem o envio do parâmetro request_id: inicia o processamento
            - Com o envio do parâmetro request_id: retorna o resultado da consulta


         Teste a API gratuitamente

         1. Crie sua conta grátis no site
         2. Copie seu token de acesso no meu lateral "Meu Token"
         3. Clique em "Authorize" e informe:
  
         Bearer SEU_TOKEN
  
         [Criar conta](https://portal.arquivo-nfe.com)

      operationId: consultaCNPJ
      parameters:
        - name: cnpj
          in: query
          required: true
          description: CNPJ com ou sem máscara
          schema:
            type: string
            example: "00.000.000/0001-91"
        - name: qsa
          in: query
          required: false
          description: Indica se deve retornar o quadro societário (QSA). 0 = não, 1 = sim
          schema:
            type: integer
            enum: [0, 1]
            example: 0
        - name: request_id
          in: query
          required: false
          description: Identificador da requisição assíncrona retornado na primeira chamada e utilizado para consultar o resultado posteriormente
          schema:
            type: integer
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Exemplo de Retorno da consulta
          content:
            application/json:
              examples:
                processamento:
                  summary: Consulta em processamento
                  value:
                    info: "Aguardando retorno da SEFAZ. Consulte novamente em instantes."
                    request_id: 12345
                sucesso:
                  summary: Sucesso (exemplo real)
                  value:
                    info: "Sucesso"
                    data:
                      numero_inscricao: "00.000.000/0001-91"
                      razao_nome: "BANCO DO BRASIL SA"
                      matriz_filial: "1 - MATRIZ"
                      fantasia: "DIRECAO GERAL"
                      csit_cadastral: "02"
                      xsit_cadastral: "ATIVA"
                      dt_situacao: "2005-11-03"
                      cmotivo_sit: "00"
                      xmotivo_sit: "SEM MOTIVO"
                      cnatur_juridica: "2038"
                      xnatur_juridica: "Sociedade de Economia Mista"
                      dt_ini_ativ: "1966-08-01"
                      ccnae_princ: "6422100"
                      xcnae_princ_desc: "Bancos múltiplos, com carteira comercial"
        '400':
          description: Requisição inválida
        '401':
          description: Não autorizado
        '500':
          description: Erro interno

  /consulta_cadastro:
    post:
      tags:
        - SINTEGRA
      summary: Consulta Cadastro SINTEGRA
      description: |
        Consulta dados cadastrais no SINTEGRA por UF.

        Fluxo:
        - Sem o envio do parâmetro request_id: inicia o processamento
        - Com o envio do parâmetro request_id: retorna o resultado da consulta

        É obrigatório informar pelo menos um dos parâmetros: cnpj, cpf ou ie.

        Teste a API gratuitamente

        1. Crie sua conta grátis no site
        2. Copie seu token de acesso no meu lateral "Meu Token"
        3. Clique em "Authorize" e informe:
      
           Bearer SEU_TOKEN
      
        [Criar conta](https://portal.arquivo-nfe.com)
      operationId: consultaSintegra
      parameters:
        - name: uf
          in: query
          required: true
          description: Sigla da UF consultada
          schema:
            type: string
            example: "DF"
        - name: cnpj
          in: query
          required: false
          description: CNPJ do contribuinte
          schema:
            type: string
            example: "00.000.000/0001-91"
        - name: cpf
          in: query
          required: false
          description: CPF do contribuinte
          schema:
            type: string
        - name: ie
          in: query
          required: false
          description: Inscrição estadual do contribuinte
          schema:
            type: string
        - name: request_id
          in: query
          required: false
          description: Identificador da requisição assíncrona retornado na primeira chamada e utilizado para consultar o resultado posteriormente
          schema:
            type: integer
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Retorno da consulta SINTEGRA
          content:
            application/json:
              examples:
                processamento:
                  summary: Consulta em processamento
                  value:
                    info: "Aguardando retorno do SINTEGRA. Consulte novamente em instantes."
                    request_id: 67890
                sucesso:
                  summary: Consulta concluída
                  value:
                    info: "Sucesso"
                    data:
                      uf: "DF"
                      cnpj: "00.000.000/0001-91"
                      ie: "123456789"
                      situacao: "HABILITADO"
        '400':
          description: Requisição inválida
        '401':
          description: Não autorizado
        '500':
          description: Erro interno
          
  /cadesp:
    post:
      tags:
        - CADESP
      summary: API Consulta CADESP (SEFAZ-SP)
      description: |
        Consulta Situação Cadastral de Contribuintes ICMS

        Fluxo:
        - Sem o envio do parâmetro request_id: inicia o processamento
        - Com o envio do parâmetro request_id: retorna o resultado da consulta

        Teste a API gratuitamente

        1. Crie sua conta grátis no site
        2. Copie seu token de acesso no meu lateral "Meu Token"
        3. Clique em "Authorize" e informe:
      
           Bearer SEU_TOKEN
      
        [Criar conta](https://portal.arquivo-nfe.com)
      operationId: consultaCadesp
      parameters:
        - name: cnpj
          in: query
          required: false
          description: CNPJ do contribuinte
          schema:
            type: string
        - name: gera_pdf
          in: query
          required: false
          description: Gera PDF do comprovante de inscrição? 0 = não, 1 = sim
          schema:
            type: integer
            enum: [0, 1]
            example: 0
        - name: request_id
          in: query
          required: false
          description: Identificador da requisição assíncrona retornado na primeira chamada e utilizado para consultar o resultado posteriormente
          schema:
            type: integer
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Retorno da consulta CADESP
          content:
            application/json:
              examples:
                processamento:
                  summary: Consulta em processamento
                  value:
                    info: "Aguardando retorno da SEFAZ. Consulte novamente em instantes."
                    request_id: 67890
                sucesso:
                  summary: Consulta concluída
                  value:
                    info: "Sucesso"
                    data:
                      razao_nome: "XXXXXXXXXXXXXXXXX"
                      fantasia: "XXXXXXXXXXXXXXXXX"
                      cnpj: "99.999.999/9999-99"
                      ie: "9999999999"
                      sit_cadastral: "Ativo"
                      natur_juridica: "Sociedade Empresária Limitada"
                      cnae_princ: "Comércio a varejo de...."
                      logradouro: "RUA XXXXXXXXXXX" 
        '400':
          description: Requisição inválida
        '401':
          description: Não autorizado
        '500':
          description: Erro interno
          

  /NFSE/ultimo_nsu:
    get:
      tags:
        - NFSE
      summary: Último NSU integrado
      description: |
        Retorna o último NSU integrado na sua conta ArquivoNfe.

        Teste a API gratuitamente

         1. Crie sua conta grátis no site
         2. Copie seu token de acesso no meu lateral "Meu Token"
         3. Clique em "Authorize" e informe:
  
         Bearer SEU_TOKEN
  
         [Criar conta](https://portal.arquivo-nfe.com)
      operationId: nfse_ult_nsu_integrado
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Retorna último NSU integrado
          content:
            application/json:
              examples:
                sucesso:
                  summary: Consulta concluída
                  value:
                    info: "Sucesso"
                    data:
                      ult_nsu_integrado: "999"
        '400':
          description: Requisição inválida
        '401':
          description: Não autorizado
        '500':
          description: Erro interno

  /NFSE/nfse_nsu:
    get:
      tags:
        - NFSE
      summary: Consulta lote a partir do NSU informado
      description: |
        Consulta o próximo lote de documentos a partir de um NSU informado.

        Teste a API gratuitamente

         1. Crie sua conta grátis no site
         2. Copie seu token de acesso no meu lateral "Meu Token"
         3. Clique em "Authorize" e informe:
  
         Bearer SEU_TOKEN
  
         [Criar conta](https://portal.arquivo-nfe.com)
      operationId: nfse_nsu
      parameters:
        - name: nsu
          in: query
          required: true
          description: NSU a partir do qual consultar os documentos
          schema:
            type: integer
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Retorna lote de documentos
          content:
            application/json:
              examples:
                sucesso:
                  summary: Consulta concluída
                  value:
                    info: "Sucesso"
                    nfse:
                      - nNFSE: "99991"
                        xLocEmi: "Nome do município da emissão"
                        cLocEmi: "Código do município da emissão"
                        dhEmi: "dd/mm/yyyy hh24:mi:ss"
                        cTribNac: "240101"
                        xTribNac: "Serviços de chaveiros, ..."
                    
                      - nNFSE: "99992"
                        xLocEmi: "Nome do município da emissão"
                        cLocEmi: "Código do município da emissão"
                        dhEmi: "dd/mm/yyyy hh24:mi:ss"
                        cTribNac: "240101"
                        xTribNac: "Serviços xyz, ..."
        '400':
          description: Requisição inválida
        '401':
          description: Não autorizado
        '500':
          description: Erro interno


  /NFSE/nfse_periodo:
    post:
      tags:
        - NFSE Paulistana
      summary: Consulta Notas fiscais de serviços tomados - Nota do Milhão Prefeitura de São Paulo
      description: |
        Consulta Notas fiscais de serviços tomados - Nota do Milhão Prefeitura de São Paulo

        Teste a API gratuitamente

         1. Crie sua conta grátis no site
         2. Copie seu token de acesso no meu lateral "Meu Token"
         3. Clique em "Authorize" e informe:
  
         Bearer SEU_TOKEN
  
         [Criar conta](https://portal.arquivo-nfe.com)
      operationId: nfse_periodo
      parameters:
        - name: ibge_cidade
          in: query
          required: true
          description: Código IBGE do município de São Paulo Código fixo 3550308
          schema:
            type: integer
            example: 3550308
        - name: dt_ini
          in: query
          required: true
          description: Data inicial de pesquisa no formato DD/MM/YYYY
          schema:
            type: string
            format: date
            example: "01/10/2024"
        - name: dt_fim
          in: query
          required: true
          description: Data final de pesquisa no formato DD/MM/YYYY
          schema:
            type: string
            format: date
            example: "31/10/2024"     
        - name: page
          in: query
          required: true
          description: Número da página consultada. As notas encontradas serão agrupadas em páginas com até 50 NFS-e. Para consultar cada uma das páginas, o contribuinte deverá transmitir uma requisição de consulta indicando qual página deseja consultar. Quando o sistema não retornar ou retornar menos que 50 NFS-e, o contribuinte “saberá” que estas são as últimas para o período consultado e que portanto está é a última página.
          schema:
            type: integer
            example: 1    
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Retorna lote de documentos
          content:
            application/json:
              examples:
                sucesso:
                  summary: Consulta concluída
                  value:
                    info: "Sucesso"
                    lista_nfse:
                      ocorrencias: 25
                      nfse:
                        - provedor: "PRODAM"
                          nNFSE: "99991"
                          cTrib: "03158"
                          xTrib: "Datilografia, digitação..."
                          ambGer: 1
                          xambGer: "Sistema Próprio do município"
                        
                        - provedor: "PRODAM"
                          nNFSE: "99992"
                          cTrib: "03159"
                          xTrib: "XXXXXXXXXXXX"
                          ambGer: 1
                          xambGer: "Sistema Próprio do município"
        '400':
          description: Requisição inválida
        '401':
          description: Não autorizado
        '500':
          description: Erro interno          

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: |
        Informe seu token no formato:

        Bearer SEU_TOKEN

        Obtenha seu token grátis em:
          [Criar conta](https://portal.arquivo-nfe.com)
          Após o cadastro, faça o login e copie seu TOKEN acessando a página "Meu Token" no menu lateral 
