openapi: 3.0.0
info:
  title: API de Consulta de CNPJ na Receita Federal
  version: 1.0.0
  description: |
    API para consulta e validação de dados cadastrais de empresas no Brasil.
    Esta API utiliza processamento assíncrono. Fluxo: envie sem request_id para iniciar,
    receba o request_id e consulte novamente com ele para obter o resultado.
servers:
  - url: https://api.arquivo-nfe.com/prod
tags:
  - name: CNPJ
    description: Operações de consulta de CNPJ
paths:
  /cnpj_receita:
    post:
      tags:
        - CNPJ
      summary: Consulta CNPJ na Receita Federal
      description: Inicia ou consulta o resultado de uma requisição de CNPJ. Sem request_id inicia processamento. Com request_id retorna o resultado.
      operationId: consultaCNPJ
      parameters:
        - name: cnpj
          in: query
          required: true
          description: CNPJ com ou sem máscara
          schema:
            type: string
            example: "00.000.000/0001-91"
        - name: qsa
          in: query
          required: false
          description: Indica se deve retornar o quadro societário (QSA). 0 = não, 1 = sim
          schema:
            type: integer
            enum: [0, 1]
            example: 0
        - name: request_id
          in: query
          required: false
          description: Identificador da requisição assíncrona retornado na primeira chamada e utilizado para consultar o resultado posteriormente
          schema:
            type: integer
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Exemplo de Retorno da consulta
          content:
            application/json:
              examples:
                processamento:
                  summary: Consulta em processamento
                  value:
                    info: "Aguardando retorno da SEFAZ. Consulte novamente em instantes."
                    request_id: 12345
                sucesso:
                  summary: Sucesso (exemplo real)
                  value:
                    info: "Sucesso"
                    data:
                      numero_inscricao: "00.000.000/0001-91"
                      razao_nome: "BANCO DO BRASIL SA"
                      matriz_filial: "1 - MATRIZ"
                      fantasia: "DIRECAO GERAL"
                      csit_cadastral: "02"
                      xsit_cadastral: "ATIVA"
                      dt_situacao: "2005-11-03"
                      cmotivo_sit: "00"
                      xmotivo_sit: "SEM MOTIVO"
                      cnatur_juridica: "2038"
                      xnatur_juridica: "Sociedade de Economia Mista"
                      dt_ini_ativ: "1966-08-01"
                      ccnae_princ: "6422100"
                      xcnae_princ_desc: "Bancos múltiplos, com carteira comercial"...
        '400':
          description: Requisição inválida
        '401':
          description: Não autorizado
        '500':
          description: Erro interno
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
